<style>
  a {
    color:black;
    text-decoration:none;
  }
  h1 {
    font-size:100px;
    text-align:center;
    border-bottom:2px solid gray;
    margin:0;
    padding:50px;
  }
  h2 {
    margin:0;
    font-size:40px;
    padding-top:30px;
    padding-bottom:1px;
  }
  img {
    border-right:2px solid gray;
    padding-left:30px;
    padding-top:100px;
    padding-right:40px;
    margin-bottom:-10px;
  }
  #grid ul{
    border-right:2px solid gray;
    width:380px;
    margin:0px;
    padding-top:50px;
    padding-right:20px;
    padding-left:30;
    padding-bottom:30px;
    font-size:20px;
  }
  #grid{
    display: grid;
    grid-template-columns: 500px 1fr;
  }
  #school{
    font-size:30px;
  }
  #edu{
    font-size:30px;
  }
  #intro{
    font-size:30px;
  }
  #interest{
    font-size:30px;
  }
</style>
